<ng-container *ngIf="isCashFlowLoading$ | async; else cashFlowLoaded">
  <p-progressSpinner class="spinner" />
</ng-container>

<ng-template #cashFlowLoaded>
  <p-card>
    <ng-container *ngIf="totalBalance$ | async as totalBalance; else noTotalBalance">
      <h3 class="heading">
        Total balance:
        <span [class]="totalBalance > 0 ? 'text--success' : 'text--danger'"> {{ totalBalance | number }} PLN </span>
      </h3>
    </ng-container>

    <ng-template #noTotalBalance>
      <div class="heading">
        No provided data, add
        <a [routerLink]="['/expenses']" class="underline">expense</a>
        or
        <a [routerLink]="['/incomes']" class="underline">income</a>
        to calculate your balance
      </div>
    </ng-template>
  </p-card>

  <section *ngIf="totalBalance$ | async" class="flex flex-wrap mt-6">
    <ctrl-container>
      <div class="heading">Expenses</div>
      <p-chart [data]="expensesChartData" [options]="chartsOptions" type="pie" class="block mt-6" />
    </ctrl-container>

    <ctrl-container>
      <div class="heading">Incomes</div>
      <p-chart [data]="incomesChartData" [options]="chartsOptions" type="pie" class="block mt-6" />
    </ctrl-container>
  </section>
</ng-template>
