:host {
  display: block;
  height: 100%;
}

.panels {
  margin-top: 1rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr;

  p-chart {
    width: 90%;
  }
}

@media only screen and (min-width: 1300px) {
  .panels {
    grid-template-columns: repeat(2, 1fr);

    p-chart {
      width: 50%;
    }
  }
}

@media only screen and (min-width: 1600px) {
  .panels {
    grid-template-columns: repeat(3, 1fr);

    p-chart {
      width: 50%;
    }
  }
}
