@if (isLoading$ | async) {
  <p-progressSpinner class="spinner" />
} @else {
  <org-cash-flow-cards [cashFlowDataset]="cashFlowDataset$ | async" (navigate)="navigateToCashFlow($event)" />

  <div class="panels">
    <org-cash-flow-chart [title]="'cashFlow.incomes' | translate" [chartDataset]="incomesChartData$ | async" />
    <org-cash-flow-chart [title]="'cashFlow.expenses' | translate" [chartDataset]="expensesChartData$ | async" />
    <org-tasker-panel [taskerData]="taskerData$ | async" (addQuickNote)="addQuickNote()" />
  </div>
}
