<div class="h-screen p-4">
  <org-container [styleClass]="['h-full']">
    <div class="flex justify-content-between mb-4">
      <div></div>

      <p-button class="sidebar-btn" size="large" [rounded]="true" [icon]="PrimeIcons.BARS" (onClick)="sidebarVisible = true" />
    </div>

    <main>
      <router-outlet />
    </main>
  </org-container>

  <p-sidebar position="right" [(visible)]="sidebarVisible">
    <div class="h-full flex flex-column justify-content-between">
      <div>Links here</div>

      <p-button styleClass="w-full" [label]="'Logout'" />
    </div>
  </p-sidebar>
</div>
