<ctrl-container [noPadding]="true">
  <div class="flex flex-column justify-content-between h-full">
    <div>
      <div class="flex justify-content-between">
        <p [class.task__name--complete]="task.isComplete" class="task__name">
          {{ task.name }}
          @if (task.steps.length) {
            <small>({{ completedSteps }} {{ 'common.of' | translate }} {{ task.steps.length }})</small>
          }
        </p>
      </div>

      @if (task.steps.length) {
        <ul class="pl-3">
          @for (step of task.steps; track step.id) {
            <li (click)="toggleIsStepComplete.emit({ taskId: task.id, stepId: step.id })" class="my-2 cursor-pointer task__step">
              - <span [class.task__name--complete]="step.isComplete">{{ step.name }}</span>
            </li>
          }
        </ul>
      }
    </div>

    <div class="flex justify-content-between mt-4">
      <p-button
        [label]="(task.isComplete ? 'tasker.completed' : 'tasker.uncompleted') | translate"
        [severity]="task.isComplete ? 'success' : 'danger'"
        (onClick)="toggleIsTaskComplete.emit(task.id)" />

      <p-button [rounded]="true" [text]="true" [icon]="PrimeIcons.TRASH" (onClick)="removeTask.emit(task.id)" severity="danger" />
    </div>
  </div>
</ctrl-container>
