<ng-container *ngIf="menuLinks">
  <div class="mobile">
    <div class="p-3 rounded panel">
      <ng-container *ngIf="user$ | async as user">
        <div *ngIf="user.email">
          <p-tieredMenu #menu [model]="menuLinks" [popup]="true" [lang]="'pl'" />
          <button (click)="menu.toggle($event)" icon="pi pi-fw pi-list" type="button" pButton></button>
        </div>

        <div class="mr-4">
          <p class="my-0">{{ user.displayName }}</p>
          <small>{{ user.email }}</small>
        </div>
      </ng-container>
    </div>
  </div>

  <ctrl-navigation-sidebar [menuLinks]="menuLinks" />
</ng-container>
