<p-tabView [activeIndex]="(activeTabIndex$ | async) ?? 0">
  <p-tabPanel [header]="'tasker.title' | translate">
    @if (isTasksLoading$ | async) {
      <div class="flex justify-content-center">
        <p-progressSpinner />
      </div>
    } @else {
      @if (tasksData$ | async; as data) {
        <div class="container">
          <div class="flex gap-6 align-items-center flex-wrap">
            <p-button [label]="'tasker.addTask' | translate" [icon]="PrimeIcons.PLUS" (click)="addTask()" styleClass="my-3" />

            <p-selectButton
              [options]="filters"
              [allowEmpty]="false"
              [(ngModel)]="data.filter"
              (onChange)="taskFilterChange($event)"
              optionLabel="label"
              optionValue="data" />
          </div>

          <ul class="grid-container">
            @for (task of data.tasks; track task.id) {
              <li>
                <ctrl-task
                  [task]="task"
                  (toggleIsTaskComplete)="toggleIsTaskComplete($event)"
                  (toggleIsStepComplete)="toggleIsStepComplete($event)"
                  (removeTask)="removeTask($event)" />
              </li>
            }

            <p-card styleClass="empty">
              <p-button [text]="true" severity="secondary" [icon]="PrimeIcons.PLUS" (click)="addTask()" styleClass="w-full p-5" />
            </p-card>
          </ul>
        </div>
      }
    }
  </p-tabPanel>

  <p-tabPanel [header]="'tasker.notes' | translate">
    @if (isNotesLoading$ | async) {
      <div class="flex justify-content-center">
        <p-progressSpinner />
      </div>
    } @else {
      @defer {
        @if (notesData$ | async; as data) {
          <div class="container">
            <div class="flex justify-content-between my-3">
              <p-button [icon]="PrimeIcons.PLUS" [label]="'tasker.addNote' | translate" (onClick)="addNote()" />
              <p-toggleButton
                [onIcon]="PrimeIcons.ARROW_UP"
                [offIcon]="PrimeIcons.ARROW_DOWN"
                [(ngModel)]="data.filter"
                (onChange)="noteFilterChange($event)" />
            </div>

            <ul>
              @for (note of data.notes; track note.id) {
                <li class="my-3">
                  <ctrl-note [note]="note" (removeNote)="removeNote($event)" class="flex-grow-1" />
                </li>
              } @empty {
                <p>{{ 'overview.noData' | translate }}</p>
              }
            </ul>
          </div>
        }
      }
    }
  </p-tabPanel>
</p-tabView>
