<p-tabView [activeIndex]="(activeTabIndex$ | async) ?? 0">
  <p-tabPanel [header]="'tasker.title' | translate">
    @if (isTasksLoading$ | async) {
      <div class="flex justify-content-center">
        <p-progressSpinner />
      </div>
    } @else {
      <div class="container">
        @if (tasksData$ | async; as data) {
          <div class="flex justify-content-between align-items-center flex-wrap">
            <p-button [label]="'tasker.addTask' | translate" (click)="addTask()" styleClass="my-3" />

            <p-selectButton
              [options]="filters"
              [allowEmpty]="false"
              [(ngModel)]="data.filter"
              (onChange)="filterChange($event)"
              optionLabel="label"
              optionValue="data" />
          </div>

          <p-dataView [value]="data.tasks ?? []" class="w-full">
            <ng-template let-task pTemplate="listItem">
              <ctrl-task
                [task]="task"
                (toggleIsTaskComplete)="toggleIsTaskComplete($event)"
                (toggleIsStepComplete)="toggleIsStepComplete($event)"
                (removeTask)="removeTask($event)" />
            </ng-template>
          </p-dataView>
        }
      </div>
    }
  </p-tabPanel>

  <p-tabPanel [header]="'tasker.notes' | translate">
    @if (isNotesLoading$ | async) {
      <div class="flex justify-content-center">
        <p-progressSpinner />
      </div>
    } @else {
      @defer {
        <div class="container">
          @if (notes$ | async; as notes) {
            <p-button (onClick)="addNote()" [label]="'tasker.addNote' | translate" styleClass="my-3" />

            @for (note of notes; track note.id) {
              <ctrl-note [note]="note" (removeNote)="removeNote($event)" class="flex-grow-1" />
            } @empty {
              <p>{{ 'overview.noData' | translate }}</p>
            }
          }
        </div>
      }
    }
  </p-tabPanel>
</p-tabView>
