<p-tabView [activeIndex]="(activeTabIndex$ | async) ?? 0" (onChange)="onTabviewChange($event)">
  <p-tabPanel [header]="'tasker.title' | translate">
    @if (isTasksLoading$ | async) {
      <div class="flex justify-content-center">
        <p-progressSpinner />
      </div>
    } @else {
      @if (tasksData$ | async; as data) {
        <div class="container">
          <div class="dropdown-wrapper">
            <small class="block mb-2"> {{ 'common.status' | translate }}</small>
            <p-dropdown
              [options]="filters"
              [(ngModel)]="data.filter"
              (onChange)="taskFilterChange($event)"
              optionLabel="label"
              optionValue="data"
              styleClass="w-full" />
          </div>

          <ul class="grid-container">
            @for (task of data.tasks; track task.id) {
              <li>
                <org-task
                  [task]="task"
                  (editTask)="editTask($event)"
                  (removeTask)="removeTask($event)"
                  (toggleIsTaskComplete)="toggleIsTaskComplete($event)"
                  (toggleIsStepComplete)="toggleIsStepComplete($event)" />
              </li>
            }

            <li>
              <org-container [noPadding]="true" class="h-full">
                <p-button
                  [text]="true"
                  severity="secondary"
                  [icon]="PrimeIcons.PLUS"
                  (onClick)="addTask()"
                  styleClass="w-full h-full py-5" />
              </org-container>
            </li>
          </ul>
        </div>
      }
    }
  </p-tabPanel>

  <p-tabPanel [header]="'tasker.notes' | translate">
    @if (isNotesLoading$ | async) {
      <div class="flex justify-content-center">
        <p-progressSpinner />
      </div>
    } @else {
      @defer {
        @if (notesData$ | async; as data) {
          <div class="container">
            @if (data.notes.length) {
              <p-toggleButton
                [onIcon]="PrimeIcons.ARROW_UP"
                [offIcon]="PrimeIcons.ARROW_DOWN"
                [(ngModel)]="data.filter"
                (onChange)="noteFilterChange($event)" />
            }

            <ul class="m-0">
              @for (note of data.notes; track note.id) {
                <li class="my-3">
                  <org-note class="flex-grow-1" [note]="note" (removeNote)="removeNote($event)" />
                </li>
              }

              <li>
                <org-container [noPadding]="true">
                  <p-button severity="secondary" styleClass="w-full py-3" [text]="true" [icon]="PrimeIcons.PLUS" (onClick)="addNote()" />
                </org-container>
              </li>
            </ul>
          </div>
        }
      }
    }
  </p-tabPanel>
</p-tabView>
