<form *ngIf="createEmailForm" [formGroup]="createEmailForm" (ngSubmit)="onSubmit()">
  <div class="my-3">
    <app-form-input [control]="to" label="To" id="to"></app-form-input>
  </div>
  <div class="my-3">
    <app-form-input [control]="from" label="From" id="from"></app-form-input>
  </div>
  <div class="my-3">
    <app-form-input [control]="subject" label="Subject" id="subject"></app-form-input>
  </div>
  <div class="my-3">
    <textarea [formControl]="text" class="w-full" placeholder="Enter message" pInputTextarea></textarea>
  </div>

  <div class="mt-4">
    <p-button [disabled]="createEmailForm.invalid" (onClick)="onSubmit()" label="Submit"></p-button>
  </div>
</form>
