@if (isLoading$ | async) {
  <p-progressSpinner class="spinner" />
} @else {
  <section class="cards">
    @for (item of cashFlowDataset$ | async; track $index; let last = $last) {
      <a (click)="navigateTo(item.label)">
        <p-card>
          <h3 class="heading">
            <p class="m-0">{{ 'overview.' + item.label | translate }}</p>
            <span [ngClass]="{ 'text--success': item.label === 'totalIncome', 'text--danger': item.label === 'totalExpense' }">
              {{ item.data ? (item.data | number) : '-' }} {{ last ? '' : 'PLN' }}
            </span>
          </h3>
        </p-card>
      </a>
    }
  </section>

  <div class="charts">
    <ctrl-container styleClass="px-0">
      <div class="card flex justify-content-center">
        @if (cashFlowChartData$ | async; as data) {
          <p-chart [data]="data" type="pie" />
        } @else {
          <p>No chart data</p>
        }
      </div>
    </ctrl-container>

    <ctrl-container styleClass="px-0">
      @if (taskerData$ | async; as taskerData) {
        <p>{{ 'overview.todos' | translate }}: {{ taskerData.totalTasksLength }}</p>
        <p>{{ 'overview.completed' | translate }}: {{ taskerData.completedTasksLength }}</p>

        <div class="flex align-items-center justify-content-between">
          <p>{{ 'overview.notes' | translate }}: {{ taskerData.notesLength }}</p>
          <p-button [icon]="PrimeIcons.PLUS" (onClick)="addQuickNote()" size="small" />
        </div>
      }
    </ctrl-container>
  </div>
}
