<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <input [formControl]="nameControl" [placeholder]="'common.enterName' | translate" class="w-full" pInputText />

  <ng-container formArrayName="steps">
    <ul class="pl-3">
      @for (stepFormGroup of stepsArray.controls; track $index) {
        <li class="mb-3 flex align-items-center">
          <span class="mr-4">{{ 'tasker.step' | translate }} {{ $index + 1 }}</span>

          <div [formGroup]="stepFormGroup" class="flex">
            <input [formControl]="stepFormGroup.controls.name" [placeholder]="'common.enterName' | translate" pInputText />
            <p-button (onClick)="removeStep($index)" [icon]="PrimeIcons.MINUS" severity="danger" />
          </div>
        </li>
      }
    </ul>
  </ng-container>

  @if (stepsArray.hasError('maxlength')) {
    <small class="error">{{ 'tasker.maxlength' | translate }}</small>
  }

  <div class="mt-4 flex justify-content-between">
    <p-button (onClick)="addStep()" [label]="'tasker.addSteps' | translate" [icon]="PrimeIcons.PLUS" />
    <p-button (onClick)="onSubmit()" [disabled]="form.invalid" [label]="'tasker.addTask' | translate" />
  </div>
</form>
