.widget {
  transition: 150ms;
  border-radius: var(--radius);
  border: solid 1px var(--surface-hover);
  background-color: var(--surface-section);

  ::ng-deep .fetch-btn .p-button {
    width: 100%;
  }

  &__details {
    max-height: 0;
    overflow-y: hidden;
    transition: max-height 1s;

    &--active {
      max-height: 400px;
    }
  }

  &__toggle {
    cursor: pointer;

    &:hover {
      .widget__toggle-icon {
        opacity: 1;
      }
    }

    &-icon {
      opacity: 0;
    }
  }
}
