<org-container [styleClass]="['my-4']">
  <div class="rounded widget" (click)="toggleDetails()">
    <div [class.pb-0]="data()" class="flex justify-content-between align-items-center">
      @if (data() === null) {
        <p-button
          severity="secondary"
          class="w-full btn"
          [icon]="(isLoading$ | async) ? PrimeIcons.SPINNER : ''"
          [label]="'weather.fetchData' | translate"
          [text]="true"
          (onClick)="loadWeatherData()" />
      }

      @if (data()?.name) {
        <p>
          {{ data()?.name }} <small>({{ data()?.sys?.country }})</small>
        </p>
      }

      <div class="flex align-items-center">
        @if (data()?.main?.temp) {
          <span class="mr-2">{{ data()?.main?.temp | number: '1.0-0' }} ℃</span>
        }

        @if (data()?.weather?.[0]?.icon; as icon) {
          <div class="w-3rem">
            <img alt="weather-icon" [src]="icon | weatherIcon" />
          </div>
        }
      </div>
    </div>
  </div>

  @if (data() !== null) {
    <div class="widget__details" [class.widget__details--active]="isOpen()">
      <p>{{ data()!.weather[0].description | titlecase }}</p>

      <div class="flex gap-3 justify-content-between my-3">
        <org-details
          icon="assets/img/weather-icons/humidity.png"
          [name]="'weather.humidity' | translate"
          [amount]="(data()?.main?.humidity | number: '1.0-0') + '%'">
        </org-details>

        <org-details
          icon="assets/img/weather-icons/wind.png"
          [amount]="(data()?.wind?.speed | number: '1.0-0') + ' km/h'"
          [name]="'weather.wind' | translate">
        </org-details>
      </div>

      <div class="flex align-items-center justify-content-between">
        <input
          pInputText
          type="text"
          class="w-full"
          [formControl]="searchCityNameControl"
          [placeholder]="'weather.searchCity' | translate"
          (keyup.enter)="loadWeatherDataByCityName(searchCityNameControl.value)" />
        <p-button
          [icon]="PrimeIcons.SEARCH"
          [disabled]="!searchCityNameControl.value || !!(isLoading$ | async)"
          (onClick)="loadWeatherDataByCityName(searchCityNameControl.value)" />
      </div>

      @if (errorMessage$ | async; as errorMessage) {
        <small class="error">{{ errorMessage }}</small>
      }
    </div>
  }
</org-container>
