.widget {
  cursor: pointer;

  &__details {
    max-height: 0;
    overflow-y: hidden;
    transition: 350ms ease-in-out;
    opacity: 0;

    &--active {
      max-height: 400px;
      opacity: 1;
    }
  }

  .w-full.btn ::ng-deep .p-button {
    width: 100%;
  }
}
