.container {
  padding: 1rem;
  border-radius: var(--radius);
  border: solid 1px var(--surface-hover);
  background-color: var(--surface-section);
  overflow-y: auto;
  transition: 250ms;

  &.hover:hover {
    cursor: pointer;
    border-color: var(--highlight-bg);
  }
}
