@if (isCashFlowLoading$ | async) {
<p-progressSpinner class="spinner" />

}@else {
<div class="overview">
  <p-card>
    @if(totalBalance$ | async; as totalBalance){
    <h3 class="heading">
      {{ 'overview.totalBalance' | translate }}
      <span [class]="totalBalance > 0 ? 'text--success' : 'text--danger'"> {{ totalBalance ? (totalBalance | number) : '-' }} PLN </span>
    </h3>
    }
  </p-card>
</div>

@if(totalBalance$ | async){
<section class="overview">
  <ctrl-container>
    <div class="heading">{{ 'overview.expences' | translate }}</div>
    <p-chart [data]="expensesChartData" [options]="chartsOptions" type="pie" class="block mt-6 chart" />
  </ctrl-container>

  <ctrl-container>
    <div class="heading">{{ 'overview.incomes' | translate }}</div>
    <p-chart [data]="incomesChartData" [options]="chartsOptions" type="pie" class="block mt-6 chart" />
  </ctrl-container>
</section>
} }
