@if (isLoading$ | async) {
<p-progressSpinner class="spinner" />

}@else {
<section class="cards">
  @for (item of cashFlowDataset$ | async; track $index; let last = $last ) {
  <p-card>
    <h3 class="heading">
      <p class="m-0">{{ 'overview.' + item.label | translate }}</p>
      @if(!last){
      <!-- TODO: handle text color -->
      <span [class]="item.data > 0 ? 'text--success' : 'text--danger'"> {{ item.data ? (item.data | number) : '-' }} PLN </span>
      } @else{
      <span>{{ item.data ? (item.data | number) : '-' }}</span>
      }
    </h3>
  </p-card>
  }
</section>

<div class="flex gap-3">
  <ctrl-container>
    <div class="card flex justify-content-center">
      <p-chart type="pie" [data]="(cashFlowChartData$ | async)?.data"></p-chart>
    </div>
  </ctrl-container>

  <ctrl-container>
    <p>Todos: 9</p>
  </ctrl-container>
</div>
}
