:host {
  display: block;
  height: 100%;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;

  p-card {
    flex-grow: 1;
    flex-basis: 300px;
  }

  .heading {
    margin: 0;
    text-align: center;
    font-size: 1.5rem;
  }
}
