<ng-container *ngIf="isCashFlowLoading$ | async; else cashFlowLoaded">
  <p-progressSpinner class="spinner" />
</ng-container>

<ng-template #cashFlowLoaded>
  <p-card>
    <ng-container *ngIf="totalBalance$ | async as totalBalance; else noTotalBalance">
      <h3 class="heading">
        {{ 'overview.totalBalance' | translate }}
        <span [class]="totalBalance > 0 ? 'text--success' : 'text--danger'"> {{ totalBalance | number }} PLN </span>
      </h3>
    </ng-container>

    <ng-template #noTotalBalance>
      <div class="heading">
        {{ 'overview.noProvidedData1' | translate }}
        <a [routerLink]="['/expenses']" class="underline">{{ 'overview.expence' | translate }}</a>
        {{ 'overview.or' | translate }}
        <a [routerLink]="['/incomes']" class="underline">{{ 'overview.income' | translate }}</a>
        {{ 'overview.noProvidedData2' | translate }}
      </div>
    </ng-template>
  </p-card>

  <section *ngIf="totalBalance$ | async" class="overview">
    <ctrl-container>
      <div class="heading">{{ 'overview.expences' | translate }}</div>
      <p-chart [data]="expensesChartData" [options]="chartsOptions" type="pie" class="block mt-6 chart" />
    </ctrl-container>

    <ctrl-container>
      <div class="heading">{{ 'overview.incomes' | translate }}</div>
      <p-chart [data]="incomesChartData" [options]="chartsOptions" type="pie" class="block mt-6 chart" />
    </ctrl-container>
  </section>
</ng-template>
