<p-tabView>
  <p-tabPanel [header]="'tasker.title' | translate">
    <div class="container">
      <p-button (click)="addTask.emit()" [label]="'tasker.addTask' | translate" size="large" styleClass="my-3" />

      <div class="flex justify-content-center">
        <p-progressSpinner *ngIf="isLoading" />
      </div>

      <p-dataView [value]="tasks" class="w-full">
        <ng-template let-task pTemplate="listItem">
          <ctrl-task
            (toggleIsTaskComplete)="toggleIsTaskComplete.emit($event)"
            (toggleIsStepComplete)="toggleIsStepComplete.emit($event)"
            (removeTask)="removeTask.emit($event)"
            [task]="task" />
        </ng-template>
      </p-dataView>
    </div>
  </p-tabPanel>

  <p-tabPanel [header]="'tasker.notes' | translate">
    <p-dataView>
      <ng-template>
        <ctrl-note />
      </ng-template>
    </p-dataView>
  </p-tabPanel>
</p-tabView>
