<ng-container *ngIf="signupForm; else loading">
  <app-form-container title="Create an Account">
    <form
      *ngIf="signupForm"
      [formGroup]="signupForm"
      (ngSubmit)="onSubmit()"
      (keyup.enter)="onSubmit()"
      class="mt-6"
    >
      <app-form-input [control]="username" label="Username" id="username"></app-form-input>
      <app-form-input
        [control]="password"
        inputType="password"
        label="Password"
        id="password"
      ></app-form-input>
      <app-form-input
        [control]="passwordConfirmation"
        label="Password confirmation"
        inputType="password"
        id="passwordConfirmation"
      ></app-form-input>

      <ng-container *ngIf="password?.touched && passwordConfirmation?.touched">
        <ul class="text-pink-500 text-sm">
          <li *ngIf="signupForm.errors?.['passwordsDontMatch']">
            Password and Password Confirmation must match
          </li>
          <li *ngIf="signupForm.errors?.['noConnection']">
            No internet connection detected, failed to sign up
          </li>
          <li *ngIf="signupForm.errors?.['unknownError']">Failed to sign up</li>
        </ul>
      </ng-container>

      <div class="my-5 cursor-pointer">
        <p-button
          [disabled]="signupForm.invalid"
          [icon]="(isAuthLoading$ | async) ? 'pi pi-spin pi-spinner' : ''"
          (onClick)="onSubmit()"
          styleClass="w-full"
          label="Sign up!"
        ></p-button>
      </div>
      <div class="text-center">Have an account? <a routerLink="/signin">Sign in</a></div>
    </form>
  </app-form-container>
</ng-container>

<ng-template #loading>
  <div class="mx-auto">
    <p-progressSpinner></p-progressSpinner>
  </div>
</ng-template>
