<div class="px-6">
  <h1 class="text-4xl font-semibold text-center">Login</h1>

  <button
    (click)="signinWithGoogle()"
    pButton
    icon="pi pi-google"
    label="Login with your google account"
    class="w-full my-6"></button>

  <div class="text-sm text-center">Or login with your email & password</div>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <span class="p-float-label my-7">
      <input pInputText id="email" class="w-full" formControlName="email" />
      <label htmlFor="email">Email</label>
    </span>

    <span class="p-float-label my-7">
      <p-password [feedback]="false" [toggleMask]="true" formControlName="password" />
      <label htmlFor="password">Password</label>
    </span>

    <button [disabled]="form.invalid" class="w-full" pButton label="Login" type="submit"></button>
  </form>

  <small class="block mt-10">
    Do not have an account?
    <a [routerLink]="['../register']" class="underline cursor-pointer">click</a>
    to register
  </small>
</div>
