@if (user$ | async; as user) {
<div class="user-info gap-4">
  @if (user.photoURL) {
  <img [ngSrc]="user.photoURL" width="60" height="60" alt="profile" class="user-info__img" />
  }
  <div>
    <p class="user-info__name">{{ user.displayName }}</p>
    <small>
      @if (!user.displayName) {
      <span>Email:</span>
      } {{ user.email }}
    </small>
  </div>
</div>
} @else {
<div class="user-info gap-4">
  <p-skeleton shape="circle" size="2rem" size="4rem" />
  <div>
    <p-skeleton width="13rem" height="1.5rem" styleClass="mb-2" />
    <p-skeleton width="5rem" styleClass="mb-2" />
  </div>
</div>
}
