.list {
  width: 240px;
  position: absolute;
  z-index: 999;

  li {
    padding: 0.5rem 0;
    cursor: pointer;

    a {
      display: block;

      &.active span {
        color: var(--primary-color);
        border-bottom: solid 1px var(--primary-color);
      }
    }
  }
}
