<p-tabView [activeIndex]="(activeTabIndex$ | async)!">
  <p-tabPanel [header]="'cashFlow.incomes' | translate">
    @if (incomesDataset$ | async; as incomes) {
      <ctrl-cash-flow-panel
        [isIncomeMode]="true"
        [cashFlowData]="incomes.data"
        [isLoading]="!!(isLoading$ | async)"
        [totalCashFlowAmount]="incomes.amount"
        (cashFlowToUpdate)="updateIncome($event)"
        (cashFlowToRemoveId)="removeIncome($event)"
        (cashFlowSubmitData)="onIncomeSubmit($event)" />
    }
  </p-tabPanel>

  <p-tabPanel #expensesPanel [header]="'cashFlow.expenses' | translate">
    @if (expensesDataset$ | async; as expenses) {
      @defer {
        <ctrl-cash-flow-panel
          [isIncomeMode]="false"
          [cashFlowData]="expenses.data"
          [isLoading]="!!(isLoading$ | async)"
          [totalCashFlowAmount]="expenses.amount"
          (cashFlowToUpdate)="updateExpense($event)"
          (cashFlowToRemoveId)="removeExpense($event)"
          (cashFlowSubmitData)="onExpenseSubmit($event)" />
      }
    }
  </p-tabPanel>
</p-tabView>
