<p-tabView [activeIndex]="(activeTabIndex$ | async)!">
  <p-tabPanel [header]="'cashFlow.incomes' | translate">
    @if (incomes$ | async; as data) {
      <org-tile-list
        class="wrapper"
        [isIncomeMode]="true"
        [isLoading]="!!(isLoading$ | async)"
        [cashFlowList]="data.paginatedCashFlow"
        [categories]="(categories$ | async)?.incomes ?? []"
        (addCashFlow)="addCashFlow($event)"
        (removeCashFlow)="removeCashFlow($event)"
        (updateCashFlow)="updateCashFlow($event)"
        (categoryChange)="incomesCategoryChange($event)" />

      @if (data.totalLength > rowsPerPageOptions[0]) {
        <p-paginator
          [rows]="rowsPerPageOptions[0]"
          [totalRecords]="data.totalLength"
          [first]="data.paginatorState.first ?? 0"
          [rowsPerPageOptions]="rowsPerPageOptions"
          (onPageChange)="incomesPageChange($event)" />
      }
    }
  </p-tabPanel>

  <p-tabPanel [header]="'cashFlow.expenses' | translate">
    @if (expenses$ | async; as data) {
      @defer {
        <org-tile-list
          class="wrapper"
          [isIncomeMode]="false"
          [isLoading]="!!(isLoading$ | async)"
          [cashFlowList]="data.paginatedCashFlow"
          [categories]="(categories$ | async)?.expenses ?? []"
          (addCashFlow)="addCashFlow($event)"
          (removeCashFlow)="removeCashFlow($event)"
          (updateCashFlow)="updateCashFlow($event)"
          (categoryChange)="expensesCategoryChange($event)" />

        @if (data.totalLength > rowsPerPageOptions[0]) {
          <p-paginator
            [rows]="rowsPerPageOptions[0]"
            [totalRecords]="data.totalLength"
            [first]="data.paginatorState.first ?? 0"
            [rowsPerPageOptions]="rowsPerPageOptions"
            (onPageChange)="expensesPageChange($event)" />
        }
      }
    }
  </p-tabPanel>
</p-tabView>
