<p-tabView [activeIndex]="(activeTabIndex$ | async)!">
  <p-tabPanel [header]="'cashFlow.incomes' | translate">
    @if (incomesDataset$ | async; as incomes) {
      <org-details-list
        class="wrapper"
        [isIncomeMode]="true"
        [isLoading]="!!(isLoading$ | async)"
        [cashFlowList]="incomes.data"
        [categories]="(categories$ | async)?.incomes ?? []"
        (addCashFlow)="addCashFlow($event)"
        (removeCashFlow)="removeIncome($event)"
        (updateCashFlow)="updateIncome($event)"
        (categoryChange)="incomesCategoryChange($event)" />
    }
  </p-tabPanel>

  <p-tabPanel [header]="'cashFlow.expenses' | translate">
    @if (expensesDataset$ | async; as expenses) {
      @defer {
        <org-details-list
          class="wrapper"
          [isIncomeMode]="false"
          [isLoading]="!!(isLoading$ | async)"
          [cashFlowList]="expenses.data"
          [categories]="(categories$ | async)?.expenses ?? []"
          (addCashFlow)="addCashFlow($event)"
          (removeCashFlow)="removeExpense($event)"
          (updateCashFlow)="updateExpense($event)"
          (categoryChange)="expensesCategoryChange($event)" />
      }
    }
  </p-tabPanel>
</p-tabView>
