<div class="drive">
  <div class="drive__buttons">
    <p-fileUpload
      [auto]="true"
      [chooseLabel]="'drive.addFile' | translate"
      [url]="uploadUrl"
      [chooseIcon]="(buttonIcon$ | async)!"
      (onUpload)="uploadFile($event)"
      mode="basic" />

    @if (folderMode() === 'initial') {
      <p-button [icon]="PrimeIcons.PLUS" [label]="'drive.addFolder' | translate" (onClick)="folderMode.set('edit')" />
    }

    @if (folderMode() === 'edit') {
      <div class="flex">
        <input
          [formControl]="folderNameControl"
          [placeholder]="'drive.enterFolderName' | translate"
          (keyup.enter)="addFolder()"
          type="text"
          pInputText />
        <p-button [disabled]="folderNameControl.value.length < 3" [icon]="PrimeIcons.PLUS" (onClick)="addFolder()" />
      </div>
    }
  </div>

  @if (parentId().length) {
    <p-button [icon]="PrimeIcons.ARROW_LEFT" [routerLink]="['../']" styleClass="my-3" severity="secondary" />
  }

  <ctrl-file-list />
</div>
