@use 'src/assets/styles/variables/sizes' as s;

.drive {
  width: min(100% - 2rem, s.$containerMaxWidth);
  margin-inline: auto;

  &__buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 0.75rem;
  }
}
