<div class="drive">
  <div class="drive__buttons">
    <p-fileUpload
      [auto]="true"
      [chooseLabel]="'drive.addFile' | translate"
      [url]="uploadUrl"
      [chooseIcon]="(isProcessing$ | async) ? PrimeIcons.SPINNER + ' pi-spin' : PrimeIcons.PLUS"
      [disabled]="!!(isProcessing$ | async)"
      (onUpload)="uploadFile($event)"
      mode="basic" />

    @switch (folderMode()) {
      @case ('initial') {
        <p-button [icon]="PrimeIcons.PLUS" [label]="'drive.addFolder' | translate" (onClick)="folderMode.set('edit')" />
      }
      @case ('edit') {
        <div class="flex">
          <input
            [formControl]="folderNameControl"
            [placeholder]="'drive.enterFolderName' | translate"
            (keyup.enter)="addFolder()"
            type="text"
            pInputText />
          <p-button [disabled]="folderNameControl.value.length < 3" [icon]="PrimeIcons.PLUS" (onClick)="addFolder()" />
        </div>
      }
    }
  </div>

  <org-file-list />
</div>
