<p-accordion [activeIndex]="0">
  @for (note of notes; track note.id) {
    <p-accordionTab>
      <ng-template pTemplate="header">
        <div class="flex justify-content-between align-items-center w-full">
          <p>{{ note.name | titlecase }}</p>
          <p-button [rounded]="true" [text]="true" [icon]="PrimeIcons.TIMES" (onClick)="removeNote.emit(note.id)" severity="danger" />
        </div>
      </ng-template>

      <p class="my-0">{{ note.content }}</p>
    </p-accordionTab>
  } @empty {
    <p class="px-3">{{ 'primeng.emptyMessage' | translate }}</p>
    <p-divider />
  }
</p-accordion>
