@use 'sizes' as s;

.wrapper {
  margin: 0 auto;
  height: 100%;
  max-width: s.$containerMaxWidth;
}

.sidebar {
  &__inner {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__list {
    margin: 2rem 0;
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.5rem;
  }

  &__link {
    cursor: pointer;
    transition: ease-in-out 150ms;
    border: 1px solid transparent;
    border-radius: var(--radius);
  }
}
