.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;

  li {
    flex-grow: 1;
    flex-basis: 300px;
  }

  p-card ::ng-deep .p-card-body {
    padding: 0.5rem 0;
  }

  .heading {
    margin: 0;
    text-align: center;
    font-size: 1.25rem;
  }
}
