<ctrl-heading [amount]="totalCashFlowAmount" [isIncomeMode]="isIncomeMode" />

<div class="mt-10">
  <div class="divider">
    <p-divider />
  </div>

  <p-button (onClick)="openCashFlowDialog()" [label]="addCashFlowBtnLabel | translate" styleClass="mb-4" />

  <ctrl-details-list
    (cashFlowToRemoveId)="cashFlowToRemoveId.emit($event)"
    (cashFlowToUpdate)="cashFlowToUpdate.emit($event)"
    [isIncomeMode]="isIncomeMode"
    [isLoading]="isLoading"
    [cashFlowList]="cashFlowData"
    class="w-full" />
</div>
