<section class="flex gap-3 flex-wrap">
  @for (board of state.boards; track board.id) {
    <org-container [styleClass]="['hover']" (click)="navigateToDetails(board.id)">
      {{ board.name }}
    </org-container>
  }

  <org-container [styleClass]="['hover', 'flex', 'align-items-center', 'gap-2']" (click)="addBoard()">
    <i [class]="PrimeIcons.PLUS"></i>
    4 remaining
    <i [pTooltip]="'Text for subscription' | translate" [classList]="PrimeIcons.INFO_CIRCLE"></i>
  </org-container>
</section>
