<form *ngIf="emailForm" [formGroup]="emailForm" (ngSubmit)="onSubmit()">
  <div class="my-3">
    <app-form-input *ngIf="to" [control]="$any(to)" label="To" id="to"></app-form-input>
  </div>
  <div class="my-3">
    <app-form-input *ngIf="from" [control]="$any(from)" label="From" id="from"></app-form-input>
  </div>
  <div class="my-3">
    <app-form-input *ngIf="subject" [control]="$any(subject)" label="Subject" id="subject"></app-form-input>
  </div>
  <div class="my-3">
    <textarea
      *ngIf="text"
      [formControl]="$any(text)"
      class="w-full"
      placeholder="Enter message"
      pInputTextarea
    ></textarea>
  </div>

  <div class="mt-4">
    <p-button [disabled]="emailForm.invalid" (onClick)="onSubmit()" label="Submit"></p-button>
  </div>
</form>
