@if (isLoading) {
  <p-progressSpinner class="spinner" />
} @else {
  <small class="block mb-2">{{ 'common.categories' | translate }}</small>
  <p-multiSelect
    [placeholder]="'cashFlow.allCategories' | translate"
    [options]="categories"
    [showHeader]="false"
    (onChange)="onCategoryFilterChange($event)"
    optionLabel="name" />

  <ul class="grid-container">
    @if (cashFlowList.length) {
      @for (item of cashFlowList; track item.id) {
        <li>
          <org-details
            [isIncomeMode]="isIncomeMode"
            [details]="item"
            (removeCashFlow)="removeCashFlow.emit($event)"
            (updateCashFlow)="updateCashFlow.emit($event)" />
        </li>
      }
    }
    <li>
      <org-container [noPadding]="true" class="h-full">
        <p-button
          [text]="true"
          [icon]="PrimeIcons.PLUS"
          (onClick)="addCashFlow.emit(isIncomeMode)"
          severity="secondary"
          styleClass="w-full h-full py-5" />
      </org-container>
    </li>
  </ul>
}
