@if (isLoading) {
  <p-progressSpinner class="spinner" />
} @else {
  @if (cashFlowList.length) {
    <ul class="grid-container">
      @for (item of cashFlowList; track item.id) {
        <li>
          <ctrl-details
            [isIncomeMode]="isIncomeMode"
            [details]="item"
            (cashFlowToRemoveId)="removeCashFlow($event)"
            (cashFlowToUpdate)="updateCashFlow($event)" />
        </li>
      }
      <li>
        <ctrl-container>
          <p-button [text]="true" severity="secondary" [icon]="PrimeIcons.PLUS" (click)="addCashFlow.emit()" styleClass="w-full p-5" />
        </ctrl-container>
      </li>
    </ul>
  } @else {
    <p-divider />
    <p class="px-3">
      {{ 'cashFlow.emptyList' + (isIncomeMode ? 'Incomes' : 'Expenses') | translate }}
    </p>
  }
}
