<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <span class="p-float-label my-4">
    <input [formControl]="controls.name" id="name" type="text" pInputText class="w-full" />
    <label for="name">
      {{ trPath + 'update' + (cashFlow.type === 'income' ? 'IncomeName' : 'ExpenseName') | translate }}
    </label>
  </span>

  <span class="p-float-label my-4">
    <p-inputNumber id="amount" mode="currency" inputId="currency-poland" currency="PLN" [formControl]="controls.amount" />
    <label for="amount">
      {{ trPath + 'update' + (cashFlow.type === 'income' ? 'Income' : 'Expense') | translate }}
    </label>
  </span>

  <p-dropdown
    optionValue="id"
    optionLabel="name"
    styleClass="w-full"
    placeholder="Select category"
    [options]="(categories$ | async) ?? []"
    [formControl]="controls.categoryId" />

  <span class="p-float-label my-4">
    <p-calendar [formControl]="controls.date" id="date" class="w-full" appendTo="body" readonly />
    <label for="date">{{ trPath + 'pickDate' | translate }}</label>
  </span>

  <span class="p-float-label my-4">
    <textarea [formControl]="controls.description" id="description" class="w-full" pInputTextarea></textarea>
    <label for="description">{{ trPath + 'addDescription' | translate }}</label>
  </span>

  <p-button type="submit" class="w-full" [disabled]="form.invalid || !form.dirty" [label]="trPath + 'update' | translate" />
</form>
