<p-tabView [activeIndex]="(activeTabIndex$ | async)!">
  <p-tabPanel [header]="'tasker.title' | translate">
    @if (isLoading) {
      <div class="flex justify-content-center">
        <p-progressSpinner />
      </div>
    } @else {
      <div class="container">
        <div class="flex justify-content-between align-items-center flex-wrap">
          <p-button [label]="'tasker.addTask' | translate" (click)="addTask.emit()" styleClass="my-3" />
          <p-selectButton
            [options]="filters"
            [allowEmpty]="false"
            [(ngModel)]="filter"
            (onChange)="onFilterChange($event)"
            optionLabel="label"
            optionValue="data" />
        </div>

        <p-dataView [value]="tasks ?? []" class="w-full">
          <ng-template let-task pTemplate="listItem">
            <ctrl-task
              [task]="task"
              (toggleIsTaskComplete)="toggleIsTaskComplete.emit($event)"
              (toggleIsStepComplete)="toggleIsStepComplete.emit($event)"
              (removeTask)="removeTask.emit($event)" />
          </ng-template>
        </p-dataView>
      </div>
    }
  </p-tabPanel>

  <p-tabPanel [header]="'tasker.notes' | translate">
    @defer {
      @if (isLoading) {
        <div class="flex justify-content-center">
          <p-progressSpinner />
        </div>
      } @else {
        <div class="container">
          <p-button (onClick)="addNote.emit()" [label]="'tasker.addNote' | translate" styleClass="my-3" />

          @for (note of notes; track note.id) {
            <ctrl-note [note]="note" (removeNote)="removeNote.emit($event)" class="flex-grow-1" />
          }
        </div>
      }
    }
  </p-tabPanel>
</p-tabView>
