@use 'src/assets/styles/variables/breakpoints' as b;

p-card {
  .note .p-card-body {
    padding: 0.5rem 1rem;
  }

  .task {
    height: 100%;

    .p-card {
      border-radius: var(--radius);
      box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.15);
      transition: ease-in-out 150ms;

      &-body {
        height: 100%;
      }

      &-content {
        height: 100%;
        padding: 0;
      }
    }
  }

  .empty {
    .p-card-content {
      padding: 0;
    }
  }
}

@media only screen and (min-width: b.$lg) {
  p-card {
    .task .p-card-content {
      padding: 0 1rem;
    }
    .note .p-card-body {
      padding: 0.5rem 2.5rem;
    }
  }
}
