<ng-container *ngIf="isLoading; else loaded">
  <div class="flex justify-center">
    <p-progressSpinner />
  </div>
</ng-container>

<ng-template #loaded>
  <ng-container *ngIf="cashFlowList.length; else noCashFlowToDisplay">
    <p-dataView [value]="cashFlowList" [paginator]="cashFlowList.length > 6" [rows]="6">
      <ng-template let-detailsItem pTemplate="listItem">
        <ctrl-cash-flow-details
          (cashFlowToRemoveId)="emitCashFlowIdToRemove($event)"
          (cashFlowToUpdate)="emitCashFlowToUpdate($event)"
          [isIncomeMode]="isIncomeMode"
          [details]="detailsItem" />
      </ng-template>
    </p-dataView>
  </ng-container>

  <ng-template #noCashFlowToDisplay>No {{ isIncomeMode ? 'incomes' : 'expenses' }} to display </ng-template>
</ng-template>
