@use 'src/assets/styles/variables/sizes' as s;
@use 'src/assets/styles/variables/breakpoints' as b;

.wrapper {
  display: grid;
  grid-template-columns: 1fr;

  main {
    height: calc(100vh - s.$menubarHeight);
    max-width: 100vw;
  }
}

@media only screen and (min-width: b.$xl) {
  .wrapper {
    grid-template-columns: s.$sidebarWidth 1fr;

    main {
      height: 100vh;
    }
  }
}
