<ctrl-container [noPadding]="true" class="h-full">
  <div class="flex flex-column justify-content-between h-full">
    <div>
      <h1 class="mt-0">{{ 'menu.tasker' | translate }}</h1>

      @if (taskerData) {
        <p>{{ 'overview.todos' | translate }}: {{ taskerData.totalTasksLength }}</p>
        <p>{{ 'overview.completed' | translate }}: {{ taskerData.completedTasksLength }}</p>

        <div class="flex align-items-center justify-content-between">
          <p>{{ 'overview.notes' | translate }}: {{ taskerData.notesLength }}</p>
        </div>
      }
    </div>

    <p-button [icon]="PrimeIcons.PLUS" [label]="'overview.quickNote' | translate" (onClick)="quickNote.emit()" styleClass="w-full" />
  </div>
</ctrl-container>
