.note {
  &__content {
    margin: 0;
    max-height: 0;
    overflow-y: hidden;
    transition: 350ms;
    opacity: 0;

    &--visible {
      max-height: 100vh;
      margin: 1rem 0;
      opacity: 1;
    }
  }

  &__flex {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }
}
