<org-container [styleClass]="['cursor-pointer']">
  <div class="flex justify-content-between align-items-center">
    <p (click)="toggleNoteVisibility()" class="flex-grow-1 my-0 py-3">{{ note.name }}</p>

    <div class="note__flex">
      <span>{{ note.createDate | timestamp: DateFormats.HOUR_AND_DATE }}</span>
      <div>
        <p-button [rounded]="true" [text]="true" [icon]="PrimeIcons.FILE_EDIT" (onClick)="editNote.emit(note)" />
        <p-button severity="danger" [rounded]="true" [text]="true" [icon]="PrimeIcons.TIMES" (onClick)="removeNote.emit(note.id)" />
      </div>
    </div>
  </div>

  <p class="note__content" [class.note__content--visible]="isTaskContentVisible()">
    {{ note.content }}
  </p>
</org-container>
