<div class="wrapper">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <span class="p-float-label my-4">
      <input [formControl]="formControls.name" id="name" type="text" pInputText class="w-full" />
      <label for="name">{{ modeLabel | translate }}</label>
    </span>

    <span class="p-float-label my-4">
      <p-inputNumber
        id="amount"
        mode="currency"
        inputId="currency-poland"
        [currency]="currency"
        [minFractionDigits]="1"
        [formControl]="formControls.amount"
        [placeholder]="trPath + 'amount' | translate" />
    </span>

    @if (categories.length) {
      <p-dropdown
        optionLabel="name"
        optionValue="id"
        styleClass="w-full"
        [options]="categories"
        [formControl]="formControls.categoryId"
        [placeholder]="trPath + 'selectCategory' | translate" />
    }

    <span class="p-float-label my-4">
      <p-calendar readonly id="date" class="w-full" appendTo="body" [formControl]="formControls.date" />
      <label for="date">{{ trPath + 'pickDate' | translate }}</label>
    </span>

    <span class="p-float-label my-4">
      <textarea pInputTextarea id="description" class="w-full" [formControl]="formControls.description"></textarea>
      <label for="description">{{ trPath + 'addDescription' | translate }}</label>
    </span>

    <p-button type="submit" class="w-full" [disabled]="form.invalid" [label]="modeLabel + 'Add' | translate" />
  </form>
</div>
