@use 'sizes' as s;
@use 'breakpoints' as b;

:root {
  --radius: 0.75rem;
}

.debug {
  border: 1px solid red;
}

.spinner {
  width: 100%;
  display: flex;
  justify-content: center;
}

small.error {
  color: var(--pink-500);
  word-wrap: break-word;
}

.block {
  display: block;
}

.text-center {
  text-align: center;
}

.w-full {
  width: 100%;
}

.desktop {
  display: none;
}

.rounded {
  border-radius: var(--radius);
}

.underline {
  text-decoration: underline;
}

.flex-container {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;

  & > * {
    flex-grow: 1;
  }
}

.center-element {
  max-width: s.$containerMaxWidth;
  margin: 0 auto;
}

.text {
  &--success {
    color: var(--green-500);
  }

  &--danger {
    color: var(--pink-500);
  }
}

@media only screen and (min-width: b.$xl) {
  .mobile {
    display: none;
  }

  .desktop {
    display: block;
  }
}
