@use 'src/assets/styles/variables/breakpoints' as b;

:root {
  --radius: 0.25rem;
}

.spinner {
  width: 100%;
  display: flex;
  justify-content: center;
}

small.error {
  color: var(--pink-500);
}

.block {
  display: block;
}

.text-center {
  text-align: center;
}

.w-full {
  width: 100%;
}

.desktop {
  display: none;
}

.rounded {
  border-radius: var(--radius);
}

.underline {
  text-decoration: underline;
}

.text {
  &--success {
    color: var(--green-500);
  }

  &--danger {
    color: var(--pink-500);
  }
}

@media only screen and (min-width: b.$xl) {
  .mobile {
    display: none;
  }

  .desktop {
    display: block;
  }
}
