@use 'src/assets/styles/variables/breakpoints' as b;

$threshold: 0.25rem;
$iterations: 24;

@for $i from 0 through $iterations {
  // padding
  .p-#{$i} {
    padding: $i * $threshold;
  }

  .py-#{$i} {
    padding: $i * $threshold 0;
  }

  .px-#{$i} {
    padding: 0 $i * $threshold;
  }

  .pt-#{$i} {
    padding-top: $i * $threshold;
  }

  .pr-#{$i} {
    padding-right: $i * $threshold;
  }

  .pb-#{$i} {
    padding-bottom: $i * $threshold;
  }

  .pl-#{$i} {
    padding-left: $i * $threshold;
  }

  // margin
  .m-#{$i} {
    margin: $i * $threshold;
  }

  .my-#{$i} {
    margin: $i * $threshold 0;
  }

  .mx-#{$i} {
    margin: 0 $i * $threshold;
  }

  .mt-#{$i} {
    margin-top: $i * $threshold;
  }

  .mr-#{$i} {
    margin-right: $i * $threshold;
  }

  .mb-#{$i} {
    margin-bottom: $i * $threshold;
  }

  .ml-#{$i} {
    margin-left: $i * $threshold;
  }

  .gap-#{$i} {
    gap: $i * $threshold;
  }
}

@media only screen and (max-width: b.$sm) {
  @for $i from 0 through $iterations {
    // padding
    .sm:p-#{$i} {
      padding: $i * $threshold;
    }

    .sm:py-#{$i} {
      padding: $i * $threshold 0;
    }

    .sm:px-#{$i} {
      padding: 0 $i * $threshold;
    }

    .sm:pt-#{$i} {
      padding-top: $i * $threshold;
    }

    .sm:pr-#{$i} {
      padding-right: $i * $threshold;
    }

    .sm:pb-#{$i} {
      padding-bottom: $i * $threshold;
    }

    .sm:pl-#{$i} {
      padding-left: $i * $threshold;
    }

    // margin
    .sm:m-#{$i} {
      margin: $i * $threshold;
    }

    .sm:my-#{$i} {
      margin: $i * $threshold 0;
    }

    .sm:mx-#{$i} {
      margin: 0 $i * $threshold;
    }

    .sm:mt-#{$i} {
      margin-top: $i * $threshold;
    }

    .sm:mr-#{$i} {
      margin-right: $i * $threshold;
    }

    .sm:mb-#{$i} {
      margin-bottom: $i * $threshold;
    }

    .sm:ml-#{$i} {
      margin-left: $i * $threshold;
    }

    .sm:gap-#{$i} {
      gap: $i * $threshold;
    }
  }
}

@media only screen and (min-width: b.$xl) {
  @for $i from 0 through $iterations {
    // padding
    .xl:p-#{$i} {
      padding: $i * $threshold;
    }

    .xl:py-#{$i} {
      padding: $i * $threshold 0;
    }

    .xl:px-#{$i} {
      padding: 0 $i * $threshold;
    }

    .xl:pt-#{$i} {
      padding-top: $i * $threshold;
    }

    .xl:pr-#{$i} {
      padding-right: $i * $threshold;
    }

    .xl:pb-#{$i} {
      padding-bottom: $i * $threshold;
    }

    .xl:pl-#{$i} {
      padding-left: $i * $threshold;
    }

    // margin
    .xl:m-#{$i} {
      margin: $i * $threshold;
    }

    .xl:my-#{$i} {
      margin: $i * $threshold 0;
    }

    .xl:mx-#{$i} {
      margin: 0 $i * $threshold;
    }

    .xl:mt-#{$i} {
      margin-top: $i * $threshold;
    }

    .xl:mr-#{$i} {
      margin-right: $i * $threshold;
    }

    .xl:mb-#{$i} {
      margin-bottom: $i * $threshold;
    }

    .xl:ml-#{$i} {
      margin-left: $i * $threshold;
    }

    .xl:gap-#{$i} {
      gap: $i * $threshold;
    }
  }
}
