<ctrl-container [noPadding]="true">
  <div class="card">
    <div class="card__inner">
      <div>
        <div class="mb-2 text-xl card__inner">
          <span [class]="['card__dot', isIncomeMode ? 'card__dot--success' : 'card__dot--danger']"></span>
          {{ details.name | titlecase }}
        </div>

        @if (details.description) {
          <ctrl-details-box [detail]="details.description" iconName="comment" class="mt-3 block" />
        }

        <div class="mt-3 card__flex-wrap">
          <ctrl-details-box [detail]="details.amount + ''" iconName="dollar" />
          @if (details.date) {
            <ctrl-details-box [detail]="(details.date | timestamp: DateFormats.DATE) ?? ''" iconName="calendar" />
          }
        </div>
      </div>
    </div>

    <div class="card__inner mt-auto gap-3">
      <p-button (click)="cashFlowToUpdate.emit(details)" [text]="true" [icon]="PrimeIcons.FILE_EDIT" />
      <p-button (click)="cashFlowToRemoveId.emit(details.id)" [text]="true" [icon]="PrimeIcons.TRASH" severity="danger" />
    </div>
  </div>
</ctrl-container>
