<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <span class="p-float-label my-6">
    <input id="name" type="text" pInputText class="w-full" formControlName="name" />
    <label for="name">Income name</label>
  </span>

  <span class="p-float-label my-6">
    <p-inputNumber id="amount" mode="decimal" [minFractionDigits]="2" formControlName="amount" />
    <label for="amount">Income amount</label>
  </span>

  <p-dropdown
    *ngIf="categories$ | async as categories"
    styleClass="w-full"
    [options]="categories"
    placeholder="Select category"
    optionLabel="name"
    optionValue="code"
    formControlName="category" />

  <span class="p-float-label my-6">
    <p-calendar id="date" class="w-full" formControlName="date" />
    <label for="date">Pick date</label>
  </span>

  <span class="p-float-label my-6">
    <textarea id="description" class="w-full" pInputTextarea formControlName="description"></textarea>
    <label for="description">Add description</label>
  </span>

  <button pButton [label]="isIncomeMode ? 'Add Income' : 'Add Expense'" type="submit"></button>
</form>
