<p-card>
  <div class="card">
    <div class="card__inner">
      <div class="mr-3 card__icon">
        <i [class]="'card__category ' + (details.categoryCode! | icon)"></i>
      </div>

      <div>
        <div class="mb-2 card__inner">
          <span
            [ngClass]="{ 'card__dot--success': isIncomeMode, 'card__dot--danger': !isIncomeMode }"
            class="mr-3 card__dot"></span>
          {{ details.name | titlecase }}
        </div>

        <div class="card__flex-wrap gap-6">
          <ctrl-cash-flow-details-box [detail]="details.amount.toString()" iconName="dollar" />
          <ctrl-cash-flow-details-box
            *ngIf="details.date"
            [detail]="(details.date | timestampToDate | date)!"
            iconName="calendar" />
          <ctrl-cash-flow-details-box *ngIf="details.description" [detail]="details.description" iconName="comment" />
        </div>
      </div>
    </div>

    <div class="card__inner gap-3">
      <button
        (click)="cashFlowToUpdate.emit(details)"
        pButton
        class="p-button-text p-button-danger p-button-outlined p-button-icon-only p-button-rounded"
        icon="pi pi-align-center"></button>
      <button
        (click)="cashFlowToRemoveId.emit(details.id)"
        pButton
        class="p-button-text p-button-danger p-button-outlined p-button-icon-only p-button-rounded"
        icon="pi pi-trash"></button>
    </div>
  </div>
</p-card>
