<org-container [styleClass]="['hover']" (click)="navigateToDetails()">
  <div class="card">
    <div>
      <div class="mb-2 text-xl card__inner">
        <span [class]="['card__dot', 'card__dot--' + (isIncomeMode ? 'success' : 'danger')]"></span>
        {{ details.name | titlecase }}
      </div>

      <div class="mt-3 card__flex-wrap">
        <org-details-box iconName="dollar" [detail]="details.amount + ''" />
        <org-details-box iconName="calendar" [detail]="(details.date | timestamp: DateFormats.DATE) ?? ''" />
      </div>
    </div>
  </div>
</org-container>
