<nav class="sidebar desktop">
  <ctrl-container styleClass="pr-0">
    <div class="sidebar__inner">
      <div>
        <ctrl-user-info class="block mb-10"></ctrl-user-info>
        <ctrl-weather-widget />

        <ul class="gap-3 mt-6">
          <li
            *ngFor="let link of menuLinks; trackBy: trackByLabel"
            [routerLinkActiveOptions]="{ exact: true }"
            routerLinkActive="active"
            class="rounded sidebar__link">
            <a [routerLink]="link.routerLink" class="block p-4">
              <i [class]="link.icon + ' mr-2'"></i>
              {{ link.label ?? '' | translate }}
            </a>
          </li>
        </ul>
      </div>

      <button (click)="signOut()" icon="pi pi-sign-out" [label]="'auth.signout' | translate" class="block mt-4 w-full" pButton></button>
    </div>
  </ctrl-container>
</nav>
