@if (isLoading) {
  <p-progressSpinner class="spinner" />
} @else {
  @if (cashFlowList.length) {
    <p-dataView [value]="cashFlowList" [paginator]="cashFlowList.length > maxItemsPerPage" [rows]="maxItemsPerPage">
      <ng-template let-detailsItem pTemplate="listItem">
        <ctrl-details
          (cashFlowToRemoveId)="emitCashFlowIdToRemove($event)"
          (cashFlowToUpdate)="emitCashFlowToUpdate($event)"
          [isIncomeMode]="isIncomeMode"
          [details]="detailsItem" />
      </ng-template>
    </p-dataView>
  } @else {
    {{ 'cashFlow.emptyList' + (isIncomeMode ? 'Incomes' : 'Expenses') | translate }}
  }
}
