.file-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  gap: 1rem;

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    min-height: 140px;
    padding: 0.75rem;
    border: 1px solid var(--surface-200);
    border-radius: var(--radius);
    cursor: pointer;

    &:hover {
      border-color: var(--primary-color);
    }
  }

  &__item-name {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}
