<p-card styleClass="task">
  <div class="task">
    <p-checkbox [(ngModel)]="isTaskComplete" (onChange)="toggleIsTaskComplete.emit(task.id)" [binary]="true" styleClass="mr-3" />

    <p (click)="toggleStepsVisibility()" [class.task__name--complete]="task.isComplete" class="task__name">
      {{ task.name }}
      @if (task.steps.length) {
        <small>({{ completedSteps }} {{ 'common.of' | translate }} {{ task.steps.length }})</small>
      }
    </p>

    <p-button [rounded]="true" [text]="true" [icon]="PrimeIcons.TIMES" (onClick)="removeTask.emit(task.id)" severity="danger" />
  </div>

  @if (task.steps.length) {
    <ul [class.task__step-list--visible]="isStepsVisible" class="task__step-list">
      @for (step of task.steps; track step.id) {
        <li
          (click)="toggleIsStepComplete.emit({ taskId: task.id, stepId: step.id })"
          (keyup.enter)="toggleIsStepComplete.emit({ taskId: task.id, stepId: step.id })"
          [class.task__name--complete]="step.isComplete"
          class="task__name">
          {{ step.name | titlecase }}
        </li>
      }
    </ul>

    <small (click)="toggleStepsVisibility()" class="block text-center rounded task__toggle">
      <i [class]="isStepsVisible ? PrimeIcons.ANGLE_UP : PrimeIcons.ANGLE_DOWN" class="text-xs widget__toggle-icon"></i>
    </small>
  }
</p-card>
