p-dataview .p-dataview {
  &-content {
    border-radius: var(--radius);
    background-color: transparent !important;

    .grid {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }
  }
}
