@if (isLoading$ | async) {
  <p-progressSpinner />
} @else {
  <ul class="file-list">
    @for (file of files$ | async; track file.id) {
      <li (click)="fileClick.emit(file)" class="file-list__item">
        <i [class]="file.type === 'folder' ? PrimeIcons.FOLDER : PrimeIcons.FILE" style="font-size: 2rem"></i>
        <span> {{ file.name | truncate: 10 }}</span>
      </li>
    } @empty {
      <p>{{ 'overview.' + ((parentId$ | async) ? 'emptyFolder' : 'noData') | translate }}</p>
    }
  </ul>
}
