@use 'breakpoints' as b;

.file-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  gap: 1rem;

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    min-height: 140px;
    padding: 0.75rem;
    border: solid 1px var(--surface-hover);
    border-radius: var(--radius);
    transition: 200ms;
    cursor: pointer;

    &:hover {
      border-color: var(--primary-color);
    }
  }
}

@media only screen and (min-width: b.$md) {
  .file-list {
    grid-template-columns: repeat(auto-fit, minmax(140px, min-content));
  }
}
