// PrimeNg
@use 'node_modules/primeng/resources/primeng.css';
@use 'node_modules/primeicons/primeicons.css';
@use 'node_modules/primeflex/primeflex.css';

// Custom styles
@use 'src/assets/styles/custom-styles/custom';
@use 'src/assets/styles/custom-styles/primeNg';

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  margin: 0;
  max-width: 100vw;
  font-family: var(--font-family), sans-serif;
}

img,
svg {
  display: block;
  max-width: 100%;
}

ul {
  padding-left: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}
