<nav class="sidebar desktop">
  <ctrl-container styleClass="pr-0">
    <div class="sidebar__inner">
      <div>
        <ctrl-user-info />
        <ctrl-weather-widget />

        <ul class="gap-3 mt-6">
          @for (link of menuLinks; track $index) {
            <li [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active" class="sidebar__link">
              <a [routerLink]="link.routerLink" class="block p-4">
                <i [class]="link.icon + ' mr-2'"></i>
                {{ link.label ?? '' | translate }}
              </a>
            </li>
          }
        </ul>
      </div>

      <p-button [label]="'auth.signout' | translate" (click)="signOut()" icon="pi pi-sign-out" styleClass="w-full" />
    </div>
  </ctrl-container>
</nav>
