@use 'src/assets/styles/variables/sizes' as s;
@use 'src/assets/styles/variables/breakpoints' as b;

.sidebar {
  height: 100%;
  width: s.$sidebarWidth;

  &__inner {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__link {
    cursor: pointer;
    transition: ease-in-out 150ms;
    border: 1px solid var(--mask-bg);
    border-radius: var(--radius);

    &:last-of-type {
      display: none;
    }
  }
}

org-container {
  height: 100%;
}

ul {
  display: grid;
  grid-template-columns: 1fr;
}
