<nav class="sidebar desktop">
  <org-container [styleClass]="['h-full', 'p-4']">
    <div class="sidebar__inner">
      <div>
        <org-user-info />
        <org-weather-widget />

        <ul class="sidebar__list">
          @for (link of menuLinks; track $index) {
            <li routerLinkActive="active" class="sidebar__link">
              <a [routerLink]="link.routerLink" class="block p-4">
                <i [class]="link.icon + ' mr-2'"></i>
                {{ link.label ?? '' | translate }}
              </a>
            </li>
          }
        </ul>
      </div>

      <p-button styleClass="w-full" [label]="'auth.signout' | translate" (click)="signOut()" />
    </div>
  </org-container>
</nav>
