<h1 class="heading text-center">Register</h1>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
  @if (errorMessage$ | async; as errorMessage) {
    <small class="error block my-3">{{ errorMessage }}</small>
  }
  <span class="p-float-label my-4">
    <input [formControl]="form.controls.email" pInputText id="email" class="w-full" />
    <label htmlFor="email">Email</label>
  </span>

  <span class="p-float-label my-4">
    <p-password [formControl]="form.controls.password" [feedback]="false" [toggleMask]="true" />
    <label htmlFor="password">Password</label>
  </span>

  <span class="p-float-label my-4">
    <p-password [formControl]="form.controls.passwordConfirmation" [feedback]="false" [toggleMask]="true" />
    <label htmlFor="passwordConfirmation">Password confirmation</label>
  </span>

  @if (form.errors?.['passwordMismatch'] && form.get('passwordConfirmation')?.touched) {
    <small class="text-red-400 block mb-3">{{ 'auth.passwordMissmatch' | translate }}</small>
  }

  <button [disabled]="form.invalid" class="w-full" type="submit" pButton label="Register"></button>
</form>

<small class="block text-center mt-4">
  Have an account?
  <a [routerLink]="['../login']" class="underline cursor-pointer">click</a>
  to login
</small>
