<h1 class="heading text-center">Register</h1>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <span class="p-float-label my-4">
    <input [formControl]="form.controls.email" pInputText id="email" class="w-full" />
    <label htmlFor="email">Email</label>
  </span>

  <span class="p-float-label my-4">
    <p-password [formControl]="form.controls.password" [feedback]="false" [toggleMask]="true" />
    <label htmlFor="password">Password</label>
  </span>

  <span class="p-float-label my-4">
    <p-password [formControl]="form.controls.passwordConfirmation" [feedback]="false" [toggleMask]="true" />
    <label htmlFor="passwordConfirmation">Password confirmation</label>
  </span>

  <div *ngIf="form.errors?.['passwordMismatch'] && form.get('passwordConfirmation')?.touched" class="my-6">
    <small class="text-red-400">Password and password confirmation does not match</small>
  </div>

  <button [disabled]="form.invalid" class="w-full" type="submit" pButton label="Register"></button>
</form>

<small class="block text-center mt-10">
  Have an account?
  <a [routerLink]="['../login']" class="underline cursor-pointer">click</a>
  to login
</small>
