:host::ng-deep p-tieredMenu .p-menuitem-link-active {
  background-color: var(--highlight-bg);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.panel {
  display: flex;
  justify-content: space-between;
  align-items: center;

  p {
    margin-left: auto;
  }
}
