<ng-container *ngIf="menuLinks">
  <div class="p-5 xl:hidden">
    <p-tieredMenu #menu [model]="menuLinks" [popup]="true" />

    <div class="flex justify-between">
      <button type="button" pButton icon="pi pi-fw pi-list" (click)="menu.toggle($event)"></button>

      <button (click)="signOut()" type="button" pButton icon="pi pi-fw pi-power-off"></button>
    </div>
  </div>

  <div class="w-[22.5rem] h-full hidden xl:block">
    <ctrl-container>
      <ctrl-nav-sidebar [menuLinks]="menuLinks" />
    </ctrl-container>
  </div>
</ng-container>
