<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <span class="p-float-label my-4">
    <input [formControl]="form.controls.name" id="name" type="text" pInputText class="w-full" />
    <label htmlFor="content">{{ 'common.name' | translate }}</label>
  </span>

  <span class="p-float-label my-4">
    <textarea [formControl]="form.controls.content" id="content" class="w-full" rows="5" cols="30" pInputTextarea></textarea>
    <label htmlFor="content">{{ 'common.enterText' | translate }}</label>
  </span>

  <p-button (onClick)="onSubmit()" [disabled]="form.invalid" [label]="'Dodaj notatke' | translate" />
</form>
